
body{
	margin-top: 80px;
	margin-left: 20px;
	margin-bottom: 80px;
	background-image: url(../img/colorado1.jpeg);
	background-repeat: no-repeat;
  	background-attachment: fixed;  
  	background-size: cover;

	
  }



  h2{
    width: 90%;
    max-width: 600px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #ffffff; 
	font-size: 5vmin; 
	font-weight: 400; 
	text-align: center; 
	background: #fa735b; 
	margin: 0 auto; 
	padding: 10px; 
	border-radius: 35px 0px 35px 0px; 
	border: 2px solid #5878ca;
  }

.contenedor{
	width: 95%;
	max-width: 600px;
	margin: 50px auto;
	border: 1px solid rgb(230, 219, 219);
	border-radius: 22px;
	background-color: blanchedalmond;
	box-shadow: -10px -5px 5px 0px #8A9396;

	display: grid;
	grid-template-columns: repeat(2 1fr);
	grid-auto-rows: 60px;
}

.nombre{
	background-color: darkslateblue;
	color: floralwhite;
	font-size: 7vmin;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;

	grid-column-start: 1;
	grid-column-end: 3;

	display: flex;
	justify-content: center;
	align-items: center;
	
}

.trabajado, .compensado{
	background-color: gray;
	color: floralwhite;
	font-size: 4vmin;


	display: flex;
	justify-content: center;
	align-items: center;

}

.item-trabajado, .item-compensado{
	
	color: floralwhite;
	border: 1px solid rgb(230, 219, 219);
	font-size: 3.4vmin;


	display: flex;
	justify-content: center;
	align-items: center;

}

.item-trabajado{
	
	background-color: rgb(241, 133, 133);
	
}

.item-compensado{
	
	background-color: rgb(118, 187, 124);
}



.item-compensado:nth-last-child(1){
	
	border-bottom-right-radius: 20px;

}

.item-trabajado:nth-last-child(2){
	
	border-bottom-left-radius: 20px;

}



