
body{
	margin-top: 80px;
	margin-bottom: 80px;
	background-color:rgb(218, 216, 216);
	
  }

  h2{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #ffffff; 
	text-align: center; 
	padding-top: 15px;
	padding-bottom: 15px; 
	font-size: 5vmin;
	background: #889ccf; 
	margin:  auto; 
	overflow: hidden; 
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #5878ca;
	width: 90%;
  }

  h3{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #ffffff; 
	text-align: center; 
	font-size: 3.4vmin;
	background: salmon; 
	margin: 10px auto; 
	overflow: hidden; 
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #5878ca;
	width: 90%;
  }
	

.imagen1{
	display:block;
	margin:auto;
	margin-bottom: 10px;
	width: 90%;
	height: auto;
}


.fade-in {
	animation: fadeIn ease 5s;

  }@keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
 



