
body {
	padding: 0;
	margin: 0;
	background-color: #F0D9CF;
}

.imagen {
	
	margin-top: 50px;
    margin-left: 20px;
	margin-bottom: 30px;
	border-radius: 20px;
}

#inicio{
	opacity: 70%;
	background-color: rgb(65, 64, 64);

}

a:hover {
	background-color: rgb(105, 105, 102);
  }

  nav .links a:active {
	font-size: 14px;
	color: rgb(163, 160, 160);
}

.inactiveLink {
	pointer-events: none;
	cursor: default;
 }